@use "../../assets/sass/variables" as *;

.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: $navBackground-color;

   padding:0 1rem;
   &__logo{
      height: 60px;
      width: 185px;
   }
   &__item {
      height: 3rem;
      width: 3rem;

    }
}