@use "../../assets/sass/variables" as *;

.button {
   border: none;
   border-radius: 100%;
   min-width: 50px;
   min-height: 50px;
   text-align: center;
   font-size: 30px;
   background-color: black;
   color:white;
}

button:hover{
   border: 5px solid $navBackground-color;
}

button:active{
   border: 5px solid $navBackground-color;
   background-color: $button-active;
}